# [example-config]
# src = <Your-ipv4-or-ipv6-endpoint>
# dst = <Peers-endpoint>
# type = <tunnel-type> - Supported: vxlan, gre, gretap, sit
# address = <IP-address-for-tunnel>
# mtu = 1450
# ttl = 255
# dstport = <peers-endpoint-port> (for vxlan only)
# vni = <tunnel-id> (for vxlan only)
#
# Optional configurations:
# preup = <command that executed before tunnel is up>
# postup = <command that executed after tunnel is up>
# bridge = <Destination-bridge-the-tunnel-will-add-to> (for vxlan only) (address will be disregarded if this setting is set)

# Note: if there are multiple commands for pre/post up, create a script is recommended.